/** ==========> Media Query  for Home Page<=========== */

@media (max-width: 1100px) {
  /** Navigation  & Header*/
  .navbar.container,
  .header-content.container {
    width: 100%;
  }

  .brand-title {
    flex: 2;
  }

  .navbar-links {
    flex: 0;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 95%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    padding: 1.5rem 0;
    z-index: 1000;
    border-radius: 8px;
    font-weight: 600;
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.35s ease;
  }

  .navbar-links ul li {
    text-align: center;
    padding: 10px 0;
    width: max-content;
    margin-inline: auto;
  }

  .navbar-links ul li a {
    color: #fff;
  }

  .navbar-links.active {
    display: flex;
  }

  /** Header */
  .header-content {
    padding-left: 1.7rem;
  }

  /** Brief-Info Section */
  .brief-info-content {
    justify-content: space-between;
  }

  .brief-info img {
    max-width: 60px;
    height: 60px;
  }

  .text h3 {
    font-size: 16.4px;
    font-weight: 500;
    padding-bottom: 8px;
  }

  .text p {
    font-size: 13.5px;
  }
}

@media (max-width: 992px) {
  /** Header */
  header {
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .header-content h3 {
    font-size: 16.5px;
  }

  .header-content h1 {
    font-size: 40px;
    line-height: 55px;
    padding: 1.7rem 0;
  }
}

@media (max-width: 850px) {
  /** Brief-Info Section*/
  .brief-info-content {
    flex-direction: column;
    gap: 3rem;
    /* justify-content: space-evenly;
    align-items: center; */
  }

  .brief-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 14px;
  }
}

@media (max-width: 576px) {
  /** Navigation */
  .navbar-links ul li {
  }

  /** Header */
  header {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  .header-content h1 {
    font-size: 28px;
    line-height: 40px;
    padding: 1.7rem 0;
  }

  .btn {
    font-size: 11px;
  }
}
