@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
  /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
}

html {
  scroll-behavior: smooth;
}

/* Improve media defaults */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Create Custom Scroll-Bar */
::-webkit-scrollbar {
  width: 10px;
  background: #c5cadf;
}

::-webkit-scrollbar-thumb {
  background: #70768a;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #454f6b;
}

:root {
  --link-color: #fc5f5f;
  --text-primary: #2b2f38;
  --text-secondary: #5d6167;
  --social-icon-bg: #4e5768;
  --btn-bg: #fc5f5f;
  --btn-hover: #75c32c;
  --team-icon-hover: #fc5f5f;
  --footer-icon-hover: #75c32c;
  --bg-white: #fff;
  --bg-gray: #f9f9f9;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Common CSS Classes */
.container {
  max-width: 1440px;
  width: 80%;
  margin-inline: auto;
}

/** -----Header----- */
header {
  height: 75vh;
  background: url(../images/hero-bg.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba(233, 232, 230, 0.1);
  background-blend-mode: overlay;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px;
  position: relative;
}

/** Navigation */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 15px;
}

.brand-title {
  flex: 1;
}

.navbar-links {
  flex: 1.5;
}

.navbar .brand-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar .brand-title img {
  max-width: 50px;
  height: auto;
  cursor: pointer;
}

.navbar .brand-title h3 {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 500;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  justify-content: flex-end;
}

.navbar-links ul li a {
  display: inline-block;
  color: var(--text-primary);
  padding: 0 1.3rem;
  transition: 0.35s ease;
}

.navbar-links li a:hover {
  color: var(--link-color);
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--bg-white);
  border-radius: 10px;
}
